/* carousel section styles */

.carousel {
  display: flex;
  gap: 2.5rem;
  margin-left: -5rem;
  margin-right: -5rem;
}
.recipe-card {
  position: relative;
  display: flex;
  border-radius: 3rem;
  overflow: hidden;
  background-color: #fff;
  width: 100%;
  height: 625px; 
}

.blue-section {
  width: 50%; 
  height: 100%;
  background-image: url("../images/bluebg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.food-section {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.plate {
  width: 100%;
  height: auto;
}

.badge {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
  height: auto;
}

.carousel .topic {
  gap: 0.5rem;
  margin-top: 2.5rem;
  margin-left: 3rem;
  border-radius: 3rem;
  font-weight: 600;
  font-size: 0.6rem;
  align-items: center;
  display: flex;
  background-color: white;
  max-width: 10rem;
  height: 2.5rem;
  justify-content: center;
  margin-bottom: 3rem;
}

.carousel h3 {
  margin-left: 3rem;
  font-size: 4rem;
  width: 30rem;
}

.carousel .deso {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.carousel .deso p {
  color: rgba(0, 0, 0, 0.6);
  margin-left: 3rem;
  width: 35rem;
}

.carousel .type, .carousel .time {
background-color: rgba(0, 0, 0, 0.05);
height: 2.5rem;
width: 8rem;
border-radius:3rem;
font-weight: 400;
gap: 1.2rem;
}

.carousel .time{
  width: 9rem;
}

.carousel .info img {
  height: 1.5rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.carousel .info {
  margin-top: 2rem;
  margin-left: 3rem;
  gap: 2rem;
  text-align: center;
  margin-bottom: 6rem;
}

.carousel .idk {
  margin-top: 3.5rem;
  margin-left: 3rem;
  display: flex;
  gap: 12rem;
}

.carousel .idk a div{
  display: flex;
  padding-top: 1.1rem;
  padding-left: 2.1rem;
  color: white;
  background-color: black;
  width: 12rem;
  border-radius: 1rem;
  height: 3.6rem;
  gap: 0.7rem;
}

.carousel .idk a img{
  height: 4rem;
  padding-bottom: 2.6rem;
}

.profile .avatar {
  background-image: url(../images/avatar.svg);
  width: 3rem;
  aspect-ratio: 1/1;
  background-repeat: no-repeat;
  background-size: contain;
}


/* category section styles */

.cat-list {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
 }

.cat-list a {    
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;                     
  min-width: 180px;           
  max-width: 220px;            
  text-align: center;
  padding: 10.9rem 1rem 3rem 1rem; 
  font-size: 1.08rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: black;
  text-decoration: none;
  box-sizing: border-box; 
}

.categories {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-left: -3rem;
  margin-right: -2.8rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.label p {
  font-size: 3rem;         
  font-family: 'Inter',sans-serif;
  font-weight: 600;   
  color: black;
  margin-left: 0.8rem;
}

.label a {
  background-color: #E7FAFE;
  color: black;
  border-radius: 1rem;
  font-family: 'Inter',sans-serif;
  font-weight: 600;
  font-size: 1rem;
  height: 3.7rem;
  width: 11.9rem;
  border: none;
  text-align: center;
  padding: 1.3rem 1rem;
  margin-right: 1rem;
}


.cat-list a:nth-child(1) {
  background-image: url('../images/breakfast.svg');
}

.cat-list a:nth-child(2) {
  background-image: url('../images/vegan.svg');
}

.cat-list a:nth-child(3) {
  background-image: url('../images/meat.svg');
}

.cat-list a:nth-child(4) {
  background-image: url('../images/dessert.svg');
}

.cat-list a:nth-child(5) {
  background-image: url('../images/lunch.svg');
}

.cat-list a:nth-child(6) {
  background-image: url('../images/chocolate.svg');
}

/* learn_more section styles */

.learn-more {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  gap: 4rem;
}
.chef {
  background-image: url(../images/chef.svg);
  background-size: contain;     
  background-repeat: no-repeat;
  flex: 1;                      
  max-width: 710px; 
  height: 597px;
}

.learn-more .motto p {
  width: 30rem;
}

.learn-more a {
  display: block;
  margin-top: 3rem;
  text-align: center;
  padding: 1.4rem 2rem;
  font-size: 1rem;
}

.label {
  display: flex;
  justify-content: space-between;
}


/* insta section styles */

.insta {
  margin-top: 9rem;
  display: flex;
  flex-direction: column;
  margin-left: -5rem;
  margin-right: -5rem;
  background-image: url(../images/instacard.png);
  height: 55rem;
}

.social-posts {
  display: flex;
  gap: 2.5rem;
  padding: 0 6.5rem;
  height: 600px;
}

.social-posts img {
  max-height: 450px;
  margin: 5rem 0;
  min-width: 280px;
}

.insta a {
  margin: 0rem 40rem;
  margin-bottom: 8rem;
  background-color: black;
  color: white;
  border-radius: 1rem;
  min-height: 4rem;
  width: 15rem;
  text-align: center;
  padding-top: 0.8rem; 
}

.ref {
  display: flex;
  gap: 1.13rem;
  margin: 0.6rem 1.8rem;
}

.ref img {
  margin-top:-1px ;
}

